#wrapper{
    border: 1px solid black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px ;
    
    .contenedor{
        border: 1px solid black;
        margin-left: auto;
        width: 19%;
    } 
    #hechas{
        margin-right: auto;
    }
    
}

