*{
    
}

body{
    background-image: url("../img/fondoBacklog.jpg");
    background-size: cover;
}
.drawBackgroundWhenNewHistoria{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
#wrapper{
    border: 1px solid white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px ;
    color: white;
    .contenedor{
        border: 1px solid white;
        margin-left: auto;
        width: 30%;
        color: white;
    } 
    #divTareas{
        margin-right: auto;
    }
    
}
.hidden{
    display: none;
}
.drawFormWhenNewHistoria{
    position:absolute;
    margin:auto;
    top:30%;
    left:37%;
    background-color: gray;
    
}

.historia {
    background-color: Gray;
    margin: 10px;
    padding: 5px;
}