*{
    margin: 0px;
    padding: 0px;
}
ul {
        list-style-type: none;
    }

#formNewHistoria{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #B0B0B0;
    margin:auto;
    top:30%;
    left:37%;
    
    h3{
        margin: 5px;
    }
    *{
        margin-bottom: 2px;
    }
    ul{       
        label{
            float: left;
            width: 35%;
        }
        input {
            width: 60%;
        }
        textarea{
            width: 60%;
        }
    }
    #btnCancel,#btnApply{
        border-radius: 4px;
        float: right;
    }
    #btnReset{
        width: 30px;
        height: 30px;
        background-image: url(../img/limpiar.png);
        background-size: contain;
    }
    #btnApply{
        background-color: #3cd95c;
        border: 2px solid #31a849;
    }
    #btnCancel{
        background-color: #e4685d;
        border: 2px solid #CC0000;
        color:white;      
    }
}

body{
    background-image: url("../img/bgBacklog.jpg");
    background-size: cover;
    position: relative;
}
.drawBackgroundWhenNewHistoria{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
#wrapper{
    margin: 10px;
    padding: 20px;
    border:0px;
    display: flex;
    color: white;
    .contenedor{
        border: 1px solid white;
        margin-left: auto;
        width: 30%;
        color: white;
        
        > h1 {
            color: black;
        }
    } 
    #divHistoriasUsuario{
        margin-right: auto;
    }
}
.hidden{
    display: none;
}
.drawFormWhenNewHistoria{
    position:fixed;
}
.historia {
    background-color: #1a90bf;
    border: 1px solid white;
    border-radius: 4px;
    margin: 10px;
    padding: 15px 15px 8px 15px;
    margin-bottom: 30px;
    &::after {
    display: block;
    content: "";
    clear: both;
    }
    
    button{
        width: 30px;
        height: 30px;
        float: right;
        margin: 2px;
        
    }
    
    .remove{
        background-image: url(../img/borrar.png);
        background-size: contain;
    }
    
    .update{
        background-image: url(../img/modificar.png);
        background-size: contain;
    }
    
    .spDescripcion {
        display: inline-block;
    }
    
    .descripcionHU {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        width: 67%;
        vertical-align: bottom;
    }
}
.sprintActual,.sprintCerrado {
    background-color: #1378a1;
    border: 1px solid white;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    *{
        margin: 5px;
    }
    p{
        float:right;
        margin-top: 10px;
    }
}
.sprintCerrado {
    position: relative;
    span{
        margin: 0px;
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}